{% extends 'admin/layout.twig' %}
{% import "admin/snippet/macro.twig" as _snippets %}
{% block title %} Админка | Квартиры {% endblock %}
{% block content %}
<div class="col-sm-8 col-md-8">
    {{ form_start(form) }}
    {{ form_errors(form) }}
    {{ form_row(form.sysname) }}
    {{ form_row(form.title) }}
    {{ form_row(form.content) }}
    {{ form_end(form) }}
</div>
{% endblock %}

{% block js %}
    {{ parent() }}
    <script src="/plugins/ckeditor/ckeditor.js"></script>
    <script>
        CKEDITOR.replace( 'form_content',{
            filebrowserImageUploadUrl: '{{ url('upload.Do', {type: 'ck'}) }}'
        });
    </script>
{% endblock %}