{% extends 'admin/layout.twig' %}
{% block title %} Админка | Страницы {% endblock %}
{% block content %}
    <div class="col-sm-8 col-md-8">
        <p><a class="btn pull-right btn-success" href="{{ path('adminPage.Add') }}">Добавить</a></p>

        <div class="clearfix"></div>
        <p></p>
        <ul class="list-group">
            {% for page in pages %}
                <li class="list-group-item">
                    {{ page.sysname }} - {{ page.title }}
                    <div class="pull-right btn-group">
                        <a href="{{ path('adminPage.Edit', {id: page.id}) }}" type="button"
                           class="btn btn-warning">Изменить</a>
                        <a href="{{ path('adminPage.Remove', {id: page.id}) }}" type="button"
                           class="btn btn-danger">Удалить</a>
                    </div>
                    <div class="clearfix"></div>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}   