{% extends 'admin/layout.twig' %}
{% block title %} Админка | Настройка главной {% endblock %}
{% use 'admin/file/init.twig' %}
{% block css %}
    {{ parent() }}
    {{ block('cssinit') }}
{% endblock %}

{% block content %}
<div class="col-sm-8 col-md-8">
    {{ form_start(form) }}
    {{ form_errors(form) }}
    {{ form_row(form.sitename) }}
    {{ form_row(form.description) }}
    {{ form_row(form.keywords) }}

    <div class="form-group">
        <label class="control-label">Фото для слайдера</label>

        <div class="controls">
            {{ block('filefield') }}
        </div>
    </div>
    <div class="form-group">
        <style type="text/css">
            #YMapsID {
                height: 300px;
            }
        </style>
        <div id="YMapsID"></div>
        {{ form_row(form.address) }}
        {{ form_row(form.latlon) }}
    </div>
    {{ form_end(form) }}
</div>
{% endblock %}

{% block js %}
    {{ parent() }}
    <script src="//api-maps.yandex.ru/2.1.3/?lang=ru-RU&load=package.full" type="text/javascript"></script>
    <script>
        var myMap, searchControl;
        $(function () {

            ymaps.ready(function () {
                 myMap = new ymaps.Map('YMapsID', {

                    center: {% if page.latlon %}{{ '[' ~ page.latlon ~ ']' }}{% else %}[55.751574, 37.573856]{% endif %},
                    zoom: 15,
                    controls: ['geolocationControl', 'zoomControl']
                });
                searchControl = new ymaps.control.SearchControl({ options: { noPlacemark: true }});
                myMap.controls.add(searchControl);

                //Выбор найденного
                searchControl.events.add('resultselect', function(e){
                    var index = e.get('index');
                    searchControl.getResult(index).then(function (geoObject) {
                        myMap.geoObjects.removeAll();
                        myMap.geoObjects.add(geoObject);
                    }, this);
                    var coords = searchControl.getResultsArray()[e.get('index')].geometry.getCoordinates();
                    getAddress(coords);
                });

                {% if page.latlon %}
                var _point = new ymaps.Placemark({{ '[' ~ page.latlon ~ ']' }},{},{
                    draggable: true
                });
                myMap.geoObjects.add(_point);
                _point.events.add('dragend', function () {
                    var _pointCoords = _point.geometry.getCoordinates();
                    getAddress(_pointCoords);
                });
                {% endif %}

                // Слушаем клик на карте
                myMap.events.add('click', function (e) {
                    var coords = e.get('coords');

                    var point = new ymaps.Placemark(coords,{},{
                        draggable: true
                    });
                    point.events.add('dragend', function () {
                        var pointCoords = point.geometry.getCoordinates();
                        getAddress(pointCoords);
                    });

                    myMap.geoObjects.removeAll();
                    myMap.geoObjects.add(point);

                    getAddress(coords);
                });
                function getAddress(coords) {
                        $('#form_latlon').val(coords.toString());
                        ymaps.geocode(coords).then(function (res) {
                            var firstGeoObject = res.geoObjects.get(0);
                            $('#form_address').val(firstGeoObject.properties.get('text'));
                        });
                    }
                });


        });
    </script>
    {{ block('jsinit') }}
{% endblock %}