{% extends 'layout.twig' %}

{% block body %}
    <div class="row">
        <div class="col-sm-4 col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">Панель управления
                </div>
                <div class="panel-body">
                    <ul class="nav nav-pills nav-stacked">
                        <li {% if subMenu == 'House' %}class="active"{% endif %}>
                            <a href="{{ path('adminHouse.Index') }}">Дома</a>
                        </li>
                        <li {% if subMenu == 'Apartment' %}class="active"{% endif %}>
                            <a href="{{ path('adminApartment.Index') }}">Квартиры</a>
                        </li>
                        <li {% if subMenu == 'Snippet' %}class="active"{% endif %}>
                            <a href="{{ path('adminSnippet.Index') }}">Доп признаки</a>
                        </li>
                        <li {% if subMenu == 'Sales' %}class="active"{% endif %}>
                            <a href="{{ path('adminSales.Index') }}">Продажи</a>
                        </li>
                        <li {% if subMenu == 'Page' %}class="active"{% endif %}>
                            <a href="{{ path('adminPage.Index') }}">Страницы</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        {% block content %}{% endblock %}
    </div>
{% endblock %}


