<div class="row" style="padding-bottom: 25px;">
    <div class="col-md-2">
        <img src="{{ th|default('__th__') }}" />
        <input type="hidden" name="files[]" value="{{ file.id|default('__id__') }}"/>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label>Заголовок</label>
            <input id="title-{{ file.id|default('__id__') }}" class="form-control" type="text" value="{{ file.title }}"/>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label>Описание</label>
            <input id="desc-{{ file.id|default('__id__') }}" class="form-control" type="text" value="{{ file.description }}"/>
        </div>
    </div>
    <div class="col-md-2" style="margin-top: 25px;">
        <button data-id="{{ file.id|default('__id__') }}" type="button" class="btn btn-success photo-save">
            <span class="glyphicon glyphicon-refresh"></span>
            Сохранить
        </button>
    </div>
    <div class="col-md-2" style="margin-top: 25px;">
        <button type="button" class="btn btn-danger photo-remove">
            <span class="glyphicon glyphicon-ban-circle"></span>
            Удалить
        </button>
    </div>

</div>