{% extends 'admin/layout.twig' %}
{% block title %} Админка | Продажи {% endblock %}
{% block content %}
    <div class="col-sm-8 col-md-8">
        <p>
            <a class="btn pull-left btn-success" href="{{ path('adminSales.Stats') }}">Статистика</a>

            <a class="btn pull-right btn-success" href="{{ path('adminSales.Add') }}">Добавить</a>
        </p>

        <div class="clearfix"></div>
        <p></p>
        <ul class="list-group">
            {% for sale in sales %}
                <li class="list-group-item">
                    <span class="b-house-list__name">
                        {{ sale.name }}, {{ sale.address }}, <i>{{ sale.ap_pod }} поздъезд</i> - {{ sale.cnt_room }} комнат(ы) ({{ sale.fio }})
                    </span>
                    <div class="pull-right btn-group">
                        <a href="{{ path('adminSales.Edit', {id : sale.id}) }}" type="button" class="btn btn-warning">Изменить</a>
                        <a href="{{ path('adminSales.ShowDogovor', {id : sale.id}) }}" type="button" class="btn btn-success">Договор</a>
                        <a onclick="return confirm('Удалить точно?');" href="{{ path('adminSales.Remove', {id : sale.id}) }}" type="button" class="btn btn-danger">Удалить</a>
                    </div>
                    <div class="clearfix"></div>
                </li>
            {% endfor %}
        </ul>
    </div>

{% endblock %}   