<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" >
    <style>
        .center {
            text-align: center;
        }

        p {
            text-indent: 20px;
        }
    </style>
</head>
<body>
<p class="center">
    ДОГОВОР № {{ sale.dogovor }} <br/>КУПЛИ – ПРОДАЖИ   ЖИЛОГО ДОМА
</p>
<div style="float: left;">
    город Белгород
</div>
<div style="float: right;">
   {{ sale.create_time|date('d.m.Y') }} года
</div>
<div style="clear: both;"></div>
<p style="margin-bottom: 0px;">
    Общество с ограниченной ответственностью «Новостройзаказчик», юридический адрес: 308015, РФ, г. Белгород, ул.
    Везсльская, д.95а, дата регистрации 02,07.2001 года, свидетельство о государственной регистрации серии РП № 4201,
    наименование органа регистрации: Белгородская регистрационная палата администрации города Белгорода, занесено в
    реестр № 3123071198, ОГРН 1023101641683 дата присвоения 30.08.2002 года, ИНН 3123071367, КПП 312301001, в лице
    заместителя Генерального директора Кривенкова Александра Николаевича, действующего на основании доверенности от 17
    мая 2011 года, заверенной нотариусом Белгородского нотариального округа Белгородской области Кореневой Валерией
Геннадьевной, зарегистрировано в реестре за № 2-1636, именуемое в дальнейшем «Продавец», с одной стороны, и</p><p style="margin: 0;">
    Гражданин {{ sale.fio }} {{ sale.birth_day }} года рождения, место рождения: {{ sale.birth_place }}, паспорт {{ sale.passport }}. проживающий по адресу {{ sale.address }},
    именуемый в дальнейшем «Покупатель», с другой стороны, совместно именуемые «Стороны», заключили настоящий договор о
    нижеследующем:
</p>

<p class="center">
    1. ПРЕДМЕТ ДОГОВОРА
</p>

<p>

<div> 1.1. «Продавец» продаст, а «Покупатель» приобретает в собственность квартиру, находящуюся по адресу: {{ house.address }}, квартира № {{ sale.ap_number }}
    на {{ sale.ap_floor }} этаже.
</div>
<div>1.2. Приобретаемая квартира принадлежит «Продавцу» на праве собственности на основании разрешения на ввод объекта в
    эксплуатацию. Орган выдачи: Департамент строительства и архитектуры
    администрации города Белгорода Белгородской области, что подтверждается Свидетельством о государственной
    регистрации права серии 3I-AB 357779, выданным 14.03.2012 года Управлением Федеральной службы государственной
    регистрации, кадастра и картографии по Белгородской области, о чем в Едином государственном реестре прав на
    недвижимое имущество и сделок с ним 14.03.2012 года сделана запись регистрации № 31-31-01 /055/2012-222.
</div>
<div> 1.3. Указанная квартира состоит из {{ ap.cnt_room }} комнат, обшей площадью {{ ap.square }} кв.м.
</div>
<div>1.4. «Продавец» гарантирует, что до заключения настоящего договора продаваемая квартира никому не продана, не
    подарена, не заложена, в споре, под арестом, или запрещением не состоит, рентой, арендой, наймом или иными какими-
    либо-обязательствами не обременена, а также лиц, обладающих краном пользования укачанной квартирой, атом числе
    согласно ст. 292 Гражданского Кодекса РФ не имеется.
</div>
</p>

<p class="center">
    2. ЦЕНА И ПОРЯДОК РАСЧЕТОВ
</p>


<p>

<div> 2.1. Общая стоимость квартиры по договоренности сторон составляет {{ ap.cost }} ({{ ap.cost|num2text }}).
</div>
<div>2.2. «Покупатели» производят оплату за квартиру путем перечисления денежных средств на расчетный счет Продавца
    путем внесением в кассу Продавца в следующем порядке:
</div>
<div> 2.2.1.Денежные средства в размере, равном {{ ap.cost }} ({{ ap.cost|num2text }}) рублей уплачиваются Покупателем
    Продавцу за счет собственных средств.
</div>
<div> 2.3. Полный и окончательный расчет за Квартиру оформляется справкой Продавца, подтверждающей получение им
    денежных средств за Квартиру.
</div>
<div>2.3. Покупатель оплачивает все расходы, связанные с заключением настоящего Договора, государственной регистрацией
    перехода прав собственности на Квартиру к Покупателю, государственной регистрацией права залога
    Кредитора-Залогодержателя.
</div>
<div>2.4.2. Уплата процентов на сумму кредита в размере 10,50 (Десять целых и пять десятых) % годовых. За пользование
    кредитными средствами Кредитор начисляет проценты на остаток задолженности по основному долгу со дня, следующего за
    днем предоставления кредита, до дня возврата суммы кредита включительно. При начислении процентов за пользование
    кредитными средствами принимаются величина процентной ставки за пользование кредитом и фактическое количество
    календарных дней пользования кредитом. При расчете процентов учитывается остаток ссудной задолженности на начало
    календарного дня и количество календарных дней в году (365 или 366 соответственно).
</div>
<div>2.4.3. Возврат кредита (погашение задолженности по основному долгу) и уплата процентов осуществляется ежемесячно, в
    последний календарный день месяца, начиная с месяца, следующего за месяцем предоставления кредита в соответствии с
    графиком ежемесячных платежей, который приведен в приложении к Кредитному договору и является его неотъемлемой
    частью.
</div>
<div>2.5. На основании ст. 77 Федерального закона «Об ипотеке (залоге недвижимости)» в момент государственной
    регистрации права собственности Покупателя на приобретенную Квартиру в Управлении Федеральной службы государственной
    регистрации, кадастра и картографии по Белгородской области в обеспечение обязательств, принятых Покупателем по
    вышеуказанному Кредитному договору и Договору целевого жилищного займа, возникает ипотека в силу закона в пользу
    Кредитора-Залогодержателя и Заимодавца.
</div>
<div>2.6. Право залога у Продавца на квартиру не возникает, в соответствии с п.5 ст. 488 Гражданского кодекса Российской
    Федерации.
</div>
<div>2.7. Права залогодержателя удостоверяются закладной.</div>

</p>


<p class="center">
    3. ПРАВА И ОБЯЗАННОСТИ СТОРОН
</p>

<p>
    <div>
    3.1.	«Продавец» обязуется:
    </div>

<div>
    3.1.1 .С даты подписания настоящего договора до даты государственной регистрации настоящего Договора и перехода права собственности на квартиру к Покупателю не ухудшать состояния квартиры, не сдавать ее в аренду, наем, безвозмездное пользование, не обременять правами пользования членов семьи Продавца согласно ст. 292 ГК РФ, а также иными имущественными правами третьих лиц, сохраняющимися в соответствии с законодательством РФ после приобретения квартиры Покупателем.
</div>

<div>
    3.1.2.В счёт полного расчёта, произведённого в соответствии с разделом 2 настоящего договора передать «Покупателю» указанную в п. 1.1. квартиру в состоянии, соответствующем проекту и техническим условиям. Передача производится по акту приёма-передачи, подписанному обеими сторонами.
</div>

<div>
    3.2.	«Продавец» имеет право:
</div>

<div>
    3.2.1. В случае невнесения денежных средств «Покупателем» до {{ house.deliverydate }} года расторгнуть настоящий договор в одностороннем порядке и требовать возвращения всего исполненного им по настоящему договору
</div>

<div>
    3.2.2. Удерживать продаваемую квартиру от фактической передачи «Покупателю» до момента полной оплаты квартиры.
</div>

<div>
    3.3.	«Покупатель» обязуется:
</div>

<div>
    3.3.1.Оплатить приобретаемую квартиру по цене, указанной в п.2.1. настоящего договора, в соответствии с условиями, описанными в разделе 3 настоящего договора.
</div>

<div>
    3.3.2.0формить квартиру в собственность в Управлением Федеральной службы государственной регистрации, кадастра и картографии по Белгородской области, за счёт собственных средств, в течение трех дней с момента заключения договора открыть в РЭУ лицевой счёт и оплачивать коммунальные услуги.
</div>


</p>

<p class="center">
    4.ОСОБЫЕ УСЛОВИЯ
</p>

<p>
    <div>
    4.1.«Покупатель» удовлетворен качественным состоянием данной квартиры, установленным путём его внутреннего осмотра перед заключением данного договора, и не обнаружили при осмотре каких-либо дефектов и недостатков, о которых ему не было сообщено.
    </div>
<div>
    4.2.Настоящий договор считается заключенным с момента его государственной регистрации в Управлении Федеральной службы государственной регистрации, кадастра и картографии по Белгородской области .
</div>

<div>
    4.3.Переход права собственности на квартиру подлежит государственной регистрации в Управлении Федеральной службы государственной регистрации, кадастра и картографии по Белгородской области.
</div>

<div>
    4.4,Расходы по оплате государственной пошлины за государственную регистрацию договора и прав собственности «Покупателя» на указанную в пункте 1.1. настоящего договора квартиру, несет «Покупатель».
</div>

</p>

<p class="center">
    5. ПОРЯДОК РАЗРЕШЕНИЯ СПОРОВ
</p>

<p>
    <div>
    5.1.Споры, которые могут возникнуть в связи с настоящим договором, Стороны будут стремиться разрешать путем переговоров, уточнением условий договора, составлением его дополнений и изменений в порядке досудебного разбирательства. При этом каждая из Сторон вправе претендовать на наличие у нее в письменном виде результатов разрешения возникших вопросов. Срок разрешения вопросов 5 рабочих дней.
    </div>
<div>
    5.2.При недостижении взаимоприемлемого решения, Стороны вправе передать спорный вопрос па разрешение в судебном порядке в соответствии с действующим законодательством,
</div>
</p>

<p class="center">
    6. ФОРС-МАЖОР
</p>

<p>
    <div>
    6.1. Стороны освобождаются от ответственности за частичное или полное неисполнение обязательств по настоящему договору, если это неисполнение явилось следствием обстоятельств непреодолимой силы, возникших после заключения настоящего договора в результате обстоятельств чрезвычайного характера, которые стороны не могли предвидеть или предотвратить.
    </div>
<div>
    6.2. При наступлении обстоятельств, указанных в п. 6.1, каждая из Сторон должна без промедления известить о них в письменном виде другую Сторону. Извещение должно содержать данные о характере обстоятельств, а также официальные документы, удостоверяющие наличие этих обстоятельств и, по возможности, дающие оценку их влияния на возможность исполнения Стороной своих обязательств по данному договору.
</div>

<div>
    6.3. Если Сторона не направит или несвоевременно направит извещение, предусмотренное в п. 6.2, то она обязана возместить второй Стороне понесенные ею убытки.
</div>
<div>
    6.4. В случаях наступления обстоятельств, предусмотренных в п. 6.1, срок выполнения Стороной обязательств по настоящему договору отодвигается соразмерно времени, в течение которого действуют эти обстоятельства и их последствия
</div>

<div>
    6.5. Если обстоятельства, перечисленные в п. 6.1, и их последствия продолжают действовать более двух месяцев, Стороны проводят дополнительные переговоры для выявления приемлемых альтернативных способов исполнения настоящего договора.
</div>
</p>


<p class="center">
    7.	ЗАКЛЮЧИТЕЛЬНЫЕ ПОЛОЖЕНИЯ
</p>

<p>
    <div>
    7.1. Настояший договор вступает в силу с момента его подписания Сторонами и действует до полного исполнения Сторонами своих обязательств.
    </div>

<div>
    7.2. Все споры или разногласия, возникающие между Сторонами по настоящему Договору или в связи с ним, разрешаются путем переговоров. В случае невозможности разрешения разногласий путем переговоров они подлежат  рассмотрению в суде в установленном законом порядке.
</div>

<div>
    7.3. Договор может быть расторгнут в случаях, предусмотренных действующим законодательством РФ,
</div>

<div>
    7.4. Договор составлен на русском языке в четырех экземплярах, имеющих одинаковую юридическую силу, по одному экземпляру для каждой из Сторон и один экземпляр акта для Управлением Федеральной службы государственной регистрации, кадастра и картографии по Белгородской области.
</div>

<div>
    7.5. Вопросы, не урегулированные в настоящем Договоре, регламентируются действующим законодательством Российской Федерации.
</div>

</p>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<p class="center">
    8.	РЕКВИЗИТЫ И ПОДПИСИ СТОРОН
</p>


<table style="margin-left: 75px;">
    <tr>
        <td>
            «Продавец»: <br/>
            Заместитель генерального директора<br/>
            ООО «Новостройзаказчик»<br/>
            Н.Д. Татаринова<br/>
            (по доверенности от 08 февраля 2010 года)<br/>
        </td>
        <td style="vertical-align: bottom;padding-left: 110px;">
            ______________________
        </td>
    </tr>
<tr style="height: 50px;"></tr>
    <tr>
        <td>
            «Покупатель»:<br/>
            {{ sale.fio }}<br/><br/>

            {{ sale.address }}<br/>
            {{ sale.phone }}
        </td>
        <td style="vertical-align: bottom;padding-left: 110px;">
            ______________________
        </td>
    </tr>
</table>
</body>
</html>