{% extends 'layout.twig' %}
{% block title %}
    {{ page.sitename }}
{% endblock %}
{% block css %}
    {{ parent() }}
    <link rel="stylesheet" href="/css/slider.css">
    <link rel="stylesheet" href="/css/main-page.css">
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-md-12">

            <!-- Start WOWSlider.com BODY section -->
            <div id="wowslider-container1">
                <div class="ws_images">
                    <ul>
                        {% for img in images %}
                        <li><!--960x360-->
                            <img src="{{ getThumb(img, 960, 360, 'outbound') }}" alt="{{ img.description }}" title="{{ img.title }}" id="{{ img.id }}"/>{{ img.description }}
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="ws_thumbs">
                    <div>
                        {% for img in images %}
                            <a href="#" title="{{ img.title }}"><img src="{{ getThumb(img, 240, 90, 'outbound') }}" alt="{{ img.description }}" /></a>
                        {% endfor %}
                    </div>
                </div>
                <div class="ws_shadow"></div>
            </div>
            <!-- End WOWSlider.com BODY section -->



        </div>
    </div>

    <div class="text-center" style="padding-bottom: 30px;">

        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    {% autoescape false %}
                        {{ page.custom_text|default('Текст для главной страницы не заполнен') }}
                    {% endautoescape %}
                </div>
            </div><!-- /.row -->

        </div><!-- /.container -->

    </div>

{% for house in houses %}

    <div class="">

        <div class="container">

            <div class="row">

                <div class="col-lg-6 col-md-6 col-sm-6">
                    <h2>{{ house.name }}</h2>

                    <table class="table table-hover">
                        <tr>
                            <td>Адрес</td>
                            <td>{{ house.address }}</td>
                        </tr>
                        <tr>
                            <td>Тип материала</td>
                            <td>
                                {% if house.material == 1 %}
                                    Панельный
                                {% elseif(house.material == 2) %}
                                    Кирпичный
                                {% else %}
                                    Монолитный
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>Этажей</td>
                            <td>{{ house.floor }}</td>
                        </tr>
                        <tr>
                            <td>Кол-во квартир</td>
                            <td>{{ house.count_apartments }}</td>
                        </tr>
                        <tr>
                            <td>Дата сдачи</td>
                            <td>{{ house.deliverydate }}</td>
                        </tr>
                        <tr>
                            <td>Расстояние от центра, м.</td>
                            <td>{{ house.distance }}</td>
                        </tr>
                        <tr>
                            <td>Кол-во подъездов</td>
                            <td>{{ house.count_pod }}</td>
                        </tr>

                    </table>

                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <!--700x450-->
                    <img class="img-responsive" src="{{ getThumb(houseImages[house.id][0], 700, 450, 'outbound') }}">
                </div>
            </div><!-- /.row -->

        </div><!-- /.container -->

    </div>
{% endfor %}



{% endblock %}

{% block js %}
    {{ parent() }}
    <script type="text/javascript" src="/js/slider-main.js"></script>
    <script>
        wowReInitor($("#wowslider-container1"), {
            effect: "kenburns",
            prev: "",
            next: "",
            duration: 20 * 100,
            delay: 20 * 100,
            width: 960,
            height: 360,
            autoPlay: true,
            stopOnHover: false,
            loop: false,
            bullets: 0,
            caption: true,
            captionEffect: "move",
            controls: true,
            onBeforeStep: 0,
            images: 0
        });
    </script>
{% endblock %}

