{% extends 'admin/layout.twig' %}
{% block title %} Админка | Дома {% endblock %}
{% block content %}
    {% set url = (house.id) ? path('adminHouse.Save', {id: house.id}) : path('adminHouse.Create') %}
    {% set text = (house.id) ? 'Сохранить' : 'Добавить' %}
    <div class="col-sm-8 col-md-8">
        <form action="{{ url }}" method="post">
            <div class="form-group">
                <label class="control-label">Название дома</label>

                <div class="controls">
                    <input type="text" class="form-control" name="house[name]" value="{{ house.name }}">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">Адрес</label>

                <div class="controls">
                    <input type="text" class="form-control" name="house[address]" value="{{ house.address }}">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">Тип материала</label>

                <div class="controls">
                    <select class="form-control" name="house[material]">
                        <option {% if house.material == 1 %} selected {% endif %} value="1">Панельный</option>
                        <option {% if house.material == 2 %} selected {% endif %} value="2">Кирпичный</option>
                        <option {% if house.material == 3 %} selected {% endif %} value="3">Монолитный</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">Кол-во этажей</label>

                <div class="controls">
                    <input type="text" class="form-control" name="house[floor]" value="{{ house.floor }}">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">Дата сдачи</label>

                <div class="controls">
                    <input type="text" class="form-control" name="house[deliverydate]" value="{{ house.deliverydate }}">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">Фотоальбом типа</label>

                <div class="controls">
                    <button class="btn btn-primary">Выбрать файлы</button>
                    <span class="help-block">Первая фотка будет как главная</span>

                    <div>
                        <img src="https://app.divshot.com/img/placeholder-100x100.gif">
                        <img src="https://app.divshot.com/img/placeholder-100x100.gif">
                        <img src="https://app.divshot.com/img/placeholder-100x100.gif">
                        <img src="https://app.divshot.com/img/placeholder-100x100.gif">
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">Дополнительные признаки
                </div>
                <div class="panel-body">
                    {% for item in snippets %}
                    <div class="form-group b-snippets">
                        <label class="control-label">{{ item.label }}</label>
                        <div class="controls">
                            {% for val in item.values %}
                                {% if item.type == 1 %}
                                <div class="radio">
                                    <label>
                                        <input {% if val.sysval in checked[item.sysname] %} checked {% endif %} {% if loop.first and not checked %}checked{% endif %} name="snippet[{{ item.sysname }}]" value="{{ val.sysval }}__{{ val.id }}" type="radio">{{ val.name }}
                                    </label>
                                </div>
                                {% else %}
                                    <div class="checkbox">
                                        <label>
                                            <input {% if val.sysval in checked[item.sysname] %} checked {% endif %} type="checkbox" name="snippet[{{ item.sysname }}][]" value="{{ val.sysval }}__{{ val.id }}"> {{ val.name }}
                                        </label>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <button class="btn pull-right btn-success">{{ text }}</button>
        </form>
    </div>
{% endblock %}  