{% extends 'admin/layout.twig' %}
{% import "admin/snippet/macro.twig" as _snippets %}
{% block title %} Админка | Дома {% endblock %}
{% block css %}
    {{ parent() }}
    <link rel="stylesheet" href="/css/jquery.fileupload.css">
    <style>
        .file-item {
            display: inline-block;
            position: relative;
            padding: 0 10px;
        }
        .file-item span{
            position: absolute;
            top: 0;
            right: 10px;
            background-color: #FFF;
            cursor: pointer;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="col-sm-8 col-md-8">
        {{ form_start(form) }}
        {{ form_errors(form) }}
        {{ form_row(form.name) }}
        {{ form_row(form.address) }}
        {{ form_row(form.material) }}
        {{ form_row(form.floor) }}
        {{ form_row(form.count_apartments) }}
        {{ form_row(form.deliverydate) }}
        <div class="form-group">
            <label class="control-label">Фотоальбом типа</label>

            <div class="controls">
                <!-- The fileinput-button span is used to style the file input field as button -->
        <span class="btn btn-success fileinput-button">
        <i class="glyphicon glyphicon-plus"></i>
        <span>Добавить файлы</span>
        <!-- The file input field used as target for the file upload widget -->
        <input id="fileupload" type="file" name="files[]" multiple>
        </span>
                <br>
                <br>
                <!-- The global progress bar -->
                <div id="progress" class="progress">
                    <div class="progress-bar progress-bar-success"></div>
                </div>
                <!-- The container for the uploaded files -->
                <div id="files" class="files">
                    {% for file in images %}
                        {% set th = getThumb(file) %}
                        <div class="file-item">
                            <img src="{{ th }}">
                            <input type="hidden" name="files[]" value="{{ file.id }}"/>
                            <span class="glyphicon glyphicon-remove-circle"></span>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">Дополнительные признаки
            </div>
            <div class="panel-body">
                {{ _snippets.draw(snippets, checked) }}
            </div>
        </div>

        {{ form_row(form.save) }}
        {{ form_end(form) }}
    </div>
{% endblock %}
{% block js %}
    {{ parent() }}
    <script type="text/javascript" src="/js/jquery.ui.widget.js"></script>
    <script type="text/javascript" src="/js/jquery.iframe-transport.js"></script>
    <script type="text/javascript" src="/js/jquery.fileupload.js"></script>

    <script>

        $(function () {

            $('#files').on('click', '.file-item span', function(){
                $(this).parent().remove();
            });


            'use strict';
            var url = '{{ path('upload.Do') }}';
            $('#fileupload').fileupload({
                url: url,
                dataType: 'json',
                done: function (e, data) {
                    $.each(data.result.files, function (index, file) {
                        var $img = $('<img/>').prop('src', file.url);
                        var $input = $('<input name="files[]" type="hidden"/>').val(file.id);
                        var $close = $('<span></span>').addClass('glyphicon-remove-circle').addClass('glyphicon');
                        $('<div></div>')
                                .addClass('file-item')
                                .append($img)
                                .append($input)
                                .append($close)
                                .appendTo('#files');
                    });
                },
                progressall: function (e, data) {
                    var progress = parseInt(data.loaded / data.total * 100, 10);
                    $('#progress .progress-bar').css(
                            'width',
                            progress + '%'
                    );
                }
            }).prop('disabled', !$.support.fileInput)
                    .parent().addClass($.support.fileInput ? undefined : 'disabled');
        });
    </script>
{% endblock %}