{% extends 'admin/layout.twig' %}
{% import "admin/snippet/macro.twig" as _snippets %}
{% block title %} Админка | Дома {% endblock %}
{% block css %}
{{ parent() }}
    <link rel="stylesheet" href="/css/jquery.fileupload.css">
{% endblock %}
{% block content %}
    {% set url = (house.id) ? path('adminHouse.Save', {id: house.id}) : path('adminHouse.Create') %}
    {% set text = (house.id) ? 'Сохранить' : 'Добавить' %}
    <div class="col-sm-8 col-md-8">
        <form action="{{ url }}" method="post">
            <div class="form-group">
                <label class="control-label">Название дома</label>

                <div class="controls">
                    <input type="text" class="form-control" name="house[name]" value="{{ house.name }}">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">Адрес</label>

                <div class="controls">
                    <input type="text" class="form-control" name="house[address]" value="{{ house.address }}">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">Тип материала</label>

                <div class="controls">
                    <select class="form-control" name="house[material]">
                        <option {% if house.material == 1 %} selected {% endif %} value="1">Панельный</option>
                        <option {% if house.material == 2 %} selected {% endif %} value="2">Кирпичный</option>
                        <option {% if house.material == 3 %} selected {% endif %} value="3">Монолитный</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">Кол-во этажей</label>

                <div class="controls">
                    <input type="text" class="form-control" name="house[floor]" value="{{ house.floor }}">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">Дата сдачи</label>

                <div class="controls">
                    <input type="text" class="form-control" name="house[deliverydate]" value="{{ house.deliverydate }}">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">Фотоальбом типа</label>

                <div class="controls">
                    <!-- The fileinput-button span is used to style the file input field as button -->
                    <span class="btn btn-success fileinput-button">
                        <i class="glyphicon glyphicon-plus"></i>
                        <span>Добавить файлы</span>
                        <!-- The file input field used as target for the file upload widget -->
                        <input id="fileupload" type="file" name="files[]" multiple>
                    </span>
                    <br>
                    <br>
                    <!-- The global progress bar -->
                    <div id="progress" class="progress">
                        <div class="progress-bar progress-bar-success"></div>
                    </div>
                    <!-- The container for the uploaded files -->
                    <div id="files" class="files"></div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">Дополнительные признаки
                </div>
                <div class="panel-body">
                    {{ _snippets.draw(snippets, checked) }}
                </div>
            </div>
            <button class="btn pull-right btn-success">{{ text }}</button>
        </form>
    </div>
{% endblock %}
{% block js %}
{{ parent() }}
    <script type="text/javascript" src="/js/jquery.ui.widget.js"></script>
    <script type="text/javascript" src="/js/jquery.iframe-transport.js"></script>
    <script type="text/javascript" src="/js/jquery.fileupload.js"></script>

    <script>

        $(function () {
            'use strict';
            var url = '{{ path('upload.Do') }}';
            $('#fileupload').fileupload({
                url: url,
                dataType: 'json',
                done: function (e, data) {
                    $.each(data.result.files, function (index, file) {
                        $('<p/>').text(file.name).appendTo('#files');
                    });
                },
                progressall: function (e, data) {
                    var progress = parseInt(data.loaded / data.total * 100, 10);
                    $('#progress .progress-bar').css(
                            'width',
                            progress + '%'
                    );
                }
            }).prop('disabled', !$.support.fileInput)
                    .parent().addClass($.support.fileInput ? undefined : 'disabled');
        });
    </script>
{% endblock %}