{% extends 'admin/layout.twig' %}
{% import "admin/snippet/macro.twig" as _snippets %}
{% block title %} Админка | Дома {% endblock %}
{% block css %}
    {{ parent() }}
    <link rel="stylesheet" href="/css/jquery.fileupload.css">
{% endblock %}
{% block content %}
    <div class="col-sm-8 col-md-8">
        {{ form_start(form) }}
        {{ form_errors(form) }}
        {{ form_row(form.name) }}
        {{ form_row(form.address) }}
        {{ form_row(form.material) }}
        {{ form_row(form.floor) }}
        {{ form_row(form.count_apartments) }}
        <div class="form-group row">
            <div class="col-md-4">
                {{ form_label(form.count_1) }}
                {{ form_widget(form.count_1) }}
                {{ form_errors(form.count_1) }}
            </div>
            <div class="col-md-4">
                {{ form_label(form.count_2) }}
                {{ form_widget(form.count_2) }}
                {{ form_errors(form.count_2) }}
            </div>
            <div class="col-md-4">
                {{ form_label(form.count_3) }}
                {{ form_widget(form.count_3) }}
                {{ form_errors(form.count_3) }}
            </div>
        </div>

        {{ form_row(form.deliverydate) }}
        <div class="form-group">
            <label class="control-label">Фотоальбом типа</label>

            <div class="controls">
                <!-- The fileinput-button span is used to style the file input field as button -->
                <span class="btn btn-success fileinput-button">
                <i class="glyphicon glyphicon-plus"></i>
                <span>Добавить файлы</span>
                <!-- The file input field used as target for the file upload widget -->
                <input id="fileupload" type="file" name="files[]" multiple>
                </span>
                <br>
                <br>
                <!-- The global progress bar -->
                <div id="progress" class="progress">
                    <div class="progress-bar progress-bar-success"></div>
                </div>
                <!-- The container for the uploaded files -->
                <div id="files" class="files">
                    {% for file in images %}
                        {% set th = getThumb(file) %}
                        {% include 'admin/file/element.twig' %}
                    {% endfor %}
                </div>
                <div id="file-tpl" style="display: none;">
                    {% include 'admin/file/element.twig' %}
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">Дополнительные признаки
            </div>
            <div class="panel-body">
                {{ _snippets.draw(snippets, checked) }}
            </div>
        </div>

        {{ form_row(form.save) }}
        {{ form_end(form) }}
    </div>
{% endblock %}
{% block js %}
    {{ parent() }}
    <script type="text/javascript" src="/js/jquery.ui.widget.js"></script>
    <script type="text/javascript" src="/js/jquery.iframe-transport.js"></script>
    <script type="text/javascript" src="/js/jquery.fileupload.js"></script>

    <script>

        $(function () {

            var saveUrl = '{{ path('upload.Save') }}';

            $('#files')
                    .on('click', '.photo-remove', function(){
                        $(this).parent().parent().remove();
            })
                    .on('click', '.photo-save', function(){
                        var pid = $(this).data('id');
                        var desc = $('#desc-' + pid).val();
                        var title = $('#title-' + pid).val();

                        $.ajax(saveUrl,{
                            data: {'title': title, 'desc': desc , 'id': pid},
                            type: "POST"
                        }).done(function(){

                                });


            });


            'use strict';
            var url = '{{ path('upload.Do') }}';
            $('#fileupload').fileupload({
                url: url,
                dataType: 'json',
                done: function (e, data) {
                    $.each(data.result.files, function (index, file) {
                        var tpl = $('#file-tpl').html();

                        tpl = tpl.replace(/__id__/g, file.id).replace(/__th__/g, file.url);

                        $(tpl).appendTo('#files');

                    });
                },
                progressall: function (e, data) {
                    var progress = parseInt(data.loaded / data.total * 100, 10);
                    $('#progress .progress-bar').css(
                            'width',
                            progress + '%'
                    );
                }
            }).prop('disabled', !$.support.fileInput)
                    .parent().addClass($.support.fileInput ? undefined : 'disabled');
        });
    </script>
{% endblock %}