{% extends 'admin/layout.twig' %}
{% import "admin/snippet/macro.twig" as _snippets %}

{% use 'admin/file/init.twig' %}

{% block title %} Админка | Дома {% endblock %}
{% block css %}
    {{ parent() }}
    <link rel="stylesheet" href="/css/jquery.fileupload.css">
{% endblock %}
{% block content %}
    <div class="col-sm-8 col-md-8">
        {{ form_start(form) }}
        {{ form_errors(form) }}
        {{ form_row(form.name) }}
        {{ form_row(form.address) }}
        {{ form_row(form.material) }}
        {{ form_row(form.floor) }}
        {{ form_row(form.count_apartments) }}
        <div class="form-group row">
            <div class="col-md-4">
                {{ form_label(form.count_1) }}
                {{ form_widget(form.count_1) }}
                {{ form_errors(form.count_1) }}
            </div>
            <div class="col-md-4">
                {{ form_label(form.count_2) }}
                {{ form_widget(form.count_2) }}
                {{ form_errors(form.count_2) }}
            </div>
            <div class="col-md-4">
                {{ form_label(form.count_3) }}
                {{ form_widget(form.count_3) }}
                {{ form_errors(form.count_3) }}
            </div>
        </div>

        {{ form_row(form.mask) }}
        {{ form_row(form.deliverydate) }}
        {{ form_row(form.distance) }}
        {{ form_row(form.count_pod) }}
        {{ form_row(form.custom_text) }}
        <div class="form-group">
            <label class="control-label">Фотоальбом типа</label>

            <div class="controls">
                {{ block('filefield') }}
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">Дополнительные признаки
            </div>
            <div class="panel-body">
                {{ _snippets.draw(snippets, checked) }}
            </div>
        </div>

        {{ form_row(form.save) }}
        {{ form_end(form) }}
    </div>
{% endblock %}
{% block js %}
    {{ parent() }}
    {{ block('jsinit') }}
    <script src="/plugins/ckeditor/ckeditor.js"></script>
    <script>
        CKEDITOR.replace( 'form_custom_text',{
            filebrowserImageUploadUrl: '{{ url('upload.Do', {type: 'ck'}) }}'
        });
    </script>
{% endblock %}
