{% extends 'admin/layout.twig' %}

{% block content %}
    {% set url = (snippet.id) ? path('adminSnippet.Save', {id: snippet.id}) : path('adminSnippet.Create') %}
    {% set text = (snippet.id) ? 'Сохранить' : 'Добавить' %}
    <div class="col-sm-8 col-md-8">
        <form action="{{ url }}" method="post">
            <div class="form-group">
                <label class="control-label">Название признака</label>

                <div class="controls">
                    <input type="text" class="form-control" name="snippet[label]" value="{{ snippet.label }}">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">Принадлежность признака</label>

                <div class="controls">
                    <select class="form-control" name="snippet[to_object]">
                        <option {% if snippet.to_object == 1 %} selected {% endif %} value="1">Дом</option>
                        <option {% if snippet.to_object == 2 %} selected {% endif %} value="2">Квартира</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">Тип признака</label>

                <div class="controls">
                    <select class="form-control" name="snippet[type]" id="snippet_type">
                        <option {% if snippet.type == 1 %} selected {% endif %} value="1">Одиночный</option>
                        <option {% if snippet.type == 2 %} selected {% endif %} value="2">Множественный</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">Системное имя</label>

                <div class="controls">
                    <input type="text" class="form-control" name="snippet[sysname]" value="{{ snippet.sysname }}">
                </div>
            </div>
            <div id="wrapper" {% if not snippet.values|length or snippet.type == 1 %}style="display: none;"{% endif %}>
                {% for val in snippet.values %}
                    {% include 'admin/snippet/value.twig' with {last: loop.last} %}
                {% else %}
                    {% include 'admin/snippet/value.twig'  with {empty: true}%}
                {% endfor %}
            </div>
            <button class="btn pull-right btn-success">{{ text }}</button>
        </form>
    </div>
{% endblock %}
{% block js %}
{{ parent() }}

    <script>
        $(function(){
            $('#snippet_type').change(function(){
                if($(this).val() == 2){
                    $('#wrapper').show();
                }else{
                    $('#wrapper').hide();
                }
            });


            $('#wrapper').on('click', '.remove-value', function(){
                $(this).parent().parent().remove();
            });

            $('#wrapper').on('click', '.add-value', function(){
                $tmpl = $('#wrapper .row:first').clone();
                $tmpl.find('input').each(function(){
                    $(this).val('');
                });
                $tmpl.find('.add-value').show().css('display', 'inline-block');
                $tmpl.find('.remove-value').hide();
                $(this).hide().next().show();

                $tmpl.appendTo('#wrapper');
                console.log($tmpl);
            });
        })
    </script>
{% endblock %}