{% extends 'admin/layout.twig' %}
{% import "admin/snippet/macro.twig" as _snippets %}
{% block title %} Админка | Квартиры {% endblock %}
{% block content %}
<div class="col-sm-8 col-md-8">
    {{ form_start(form) }}
    {{ form_errors(form) }}
    {{ form_row(form.house_id) }}
    {{ form_row(form.cnt_room) }}
    {{ form_row(form.square) }}
    {{ form_row(form.cost) }}
    <div class="panel panel-default">
        <div class="panel-heading">Дополнительные признаки
        </div>
        <div class="panel-body">
            {{ _snippets.draw(snippets, checked) }}
        </div>
    </div>
    {{ form_end(form) }}

</div>  
{% endblock %}  